/* VAR */
:root {
    --white-color: #fff;
    --black-color: #000;
}

.text-white {
    color: var(--white-color) !important;
}

.text-center {
    text-align: center !important;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.pull-right {
    float: right !important;
}

/* RESET CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Common */
.clear {
    clear: both;
}

html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

.row {
   margin-left: -8px;
   margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-full {
    width: 100%;
}

.col-half {
    width: 50%;
}

.col-third {
    width: 33.33333%;
}


.btn {
    text-decoration: none;
    display: inline-block;
    margin-top: 15px;
    padding: 8px 16px;
    color: var(--white-color);
    background-color: var(--black-color);
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #ddd;
    color: var(--black-color);
}

/* Main */
#main {

}

/* Start header */
#header {
    height: 46px;
    position: relative;
    max-width: 100%;
}

#header .header-css {
    width: 100%;
}

#header .header-css {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: var(--black-color);
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

#nav > li {
    display: inline-block;
}

#nav > li {
    line-height: 46px;
    position: relative;
}

#nav > li > a {
    color: var(--white-color);
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    padding: 0 24px;
    display: inline-block;
}

#nav .subnav a {
    padding: 0 16px;
}

#nav > li:hover > a,
#nav .subnav li:hover,
#nav > li:hover > a .nav-icon-down {
    color: var(--black-color);
    background-color: #ccc;
    
}

#nav li:hover .subnav {
    display: block;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav, .subnav {
    list-style-type: none;
}

.subnav {
    display: none;
    position: absolute;
    min-width: 160px;
    top: 100%;
    left: 0;
    background-color: var(--white-color);
}

.subnav li a {
    color: var(--black-color);
    display: block;
}

.subnav > li {
    line-height: 38px;
}

.nav-icon-down {
    color: var(--white-color);
}

.mobile-menu-btn {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
}

.mobile-menu-btn,
.nav-search-btn {
    color: var(--white-color);
    justify-content: center;
    padding: 12px 24px;
}

.mobile-menu-btn:hover {
    background-color: #ccc;
    color: var(--black-color);
}

.nav-search-btn:hover {
    background-color:#f53e2d;
}

/* End header */

#slider {
    /* margin-top: 46px; */
    position: relative;
    padding-top: 50%;
    background: url(../slider/slider1.jpg) top center / cover no-repeat;
}

.slider-content {
    position: absolute;
    bottom: 48px;
    color: var(--white-color);
    width: 100%;
    text-align: center;
}

.slider-header {
    font-size: 24px;
    font-weight: 500;
}

.slider-description {
    font-size: 15px;
    padding-top: 25px;
    font-weight: 600;
}


#content {

}

#content .content-section {
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0;
    padding-bottom: 112px;
    padding-left: 16px;
    padding-right: 16px;
}

#content .section-header {
    text-align: center;
    letter-spacing: 4px;
    font-size: 30px;
    font-weight: 500;
}

#content .section-sub-header {
    text-align: center;
    font-style: italic;
    font-size: 15px;
    opacity: 0.6;
    padding: 25px 0;
}
/* About */
#content .about-text {
    text-align: justify;
    font-size: 15px;
    line-height: 1.4;
}

#content .members-list {
   padding-top: 32px;
}

#content .member-name {
    font-size: 15px;
    padding-top: 30px;
}

#content .member-img {
    width: 154px;
    margin-top: 15px;
    border-radius: 4px;
}
/* Tour */
#content .tour-section {
    background-color: var(--black-color);
}

#content .tickets-list {
    background-color: var(--white-color);
    list-style: none;
}

#content .tickets-list li {
    width: 800px;
    max-width: 100%;
    padding: 8px 16px;
    font-size: 15px;
    color: #757470;
    border-bottom: #afafaf solid 1px;
    line-height: 22px;
}

.tickets-list .sold-out {
    margin-left: 16px;
    background-color: #f44336;
    color: var(--white-color);
    padding: 4px 8px;
}

.tickets-list .quantity {
    float: right;
    color: var(--white-color);
    background-color: var(--black-color);
    margin-right: 16px;
    padding: 0px 8px;
    border-radius: 50%;
}

/* places */

.places-list {
   margin-top: 17px;
}

.place-img {
    width: 100%;
    display: block;
    margin-top: 15px;
}

.place-img:hover {
    opacity: 0.6;
}

.place-body {
    background-color: var(--white-color);
    padding: 16px;
    font-size: 15px;
}

.place-name {
    font-size: 15px;
}

.place-time {
    margin-top: 16px;
    color: #afafaf;
}

.place-description {
    margin-top: 16px;
}

/* Contact */

.contact-info {
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i[class*="fas"] {
    width: 30px;
}

.form-control {
    font-size: 15px;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
}

.map-img {
    width: 100%;
}

/* footer */
#footer {
    text-align: center;
    padding: 64px 16px;
}

.social-list a {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.6);
}

.copyright a:hover,
#footer .social-list i:hover {
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.copyright {
    margin: 15px 0;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.6);
}
