/* VAR */
:root {
    --white-color: #fff;
    --black-color: #000;
}

/* RESET CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

#main {
    
}

/* Start header */
#header {
    height: 46px;
    background-color: var(--black-color);
    display: flex;
    justify-content: space-between;
}

#nav > li {
    display: inline-block;
}

#nav > li {
    line-height: 46px;
    position: relative;
}

#nav > li > a {
    color: var(--white-color);
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    padding: 0 24px;
    display: inline-block;
}

#nav .subnav a {
    padding: 0 16px;
}

#nav > li:hover > a,
#nav .subnav li:hover,
#nav > li:hover > a .nav-icon-down {
    color: var(--black-color);
    background-color: #ccc;
    
}

#nav li:hover .subnav {
    display: block;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav, .subnav {
    list-style-type: none;
}

.subnav {
    display: none;
    position: absolute;
    min-width: 160px;
    top: 100%;
    left: 0;
    background-color: var(--white-color);
}

.subnav li a {
    color: var(--black-color);
    display: block;
}

.subnav > li {
    line-height: 38px;
}

.nav-icon-down {
    color: var(--white-color);
}

.nav-search-icon {
    color: var(--white-color);
    line-height: 46px;
    padding: 12px 24px;
}

.nav-search-icon:hover {
    background-color:#f53e2d;
}

/* End header */

#slider {

}

#content {

}

#footer {

}
